* {
padding: 0;
margin-left: 5px;
font-family:'Times New Roman', Times, serif
}

.main {
    padding: 0;
    margin-left: 300px;
    color: rgb(146, 39, 39);
}

.mac {
    margin-left: 500px;
} 

img {
    margin-left: 350px;
    width: 300px;
    height: auto;

}

.rubric {
    color: rgb(146, 39, 39);
    font-weight: bold;
    font-style: oblique;
}
