* {background-color: rgb(127, 192, 192);

}


#main {
    text-align: center;
}

.left {
    align-content: left;
    width: auto;
    height: 300px;
    padding: 0;
    margin-left: 20px;
    
}

.centre {
    align-content: center;
    width: auto;
    height: 300px;
}

ol {
    padding: 0;
    margin-left: 300px;
        

}